:root {
	--text-color: #000;
	--background-color: rgb(212, 221, 228);
	--footerbg: #000;
	--footercolor: #fff;
}
body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	color: var(--text-color);
	background-color: var(--background-color);
}
#app {
	position: relative;
	min-height: 100vh;
	padding-bottom: 60px;
}
nav.navbar {
	box-shadow: 0px 0px 0px 2px red;
	margin-bottom: 20px;
}
.logo_container {
	display: flex;
}
.logo_container a {
	color: var(--text-color);
}
.logo_container .fa {
	font-size: 22px;
	margin-right: 10px;
}
.main_menu {
	display: flex;
	padding: 0;
	margin: 0;
}
.main_menu li {
	list-style: none;
}
.main_menu li a {
	padding: 15px;
	font-size: 16px;
	color: var(--text-color);
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	background: var(--footerbg);
	color: var(--footercolor);
}
.center-btn {
	margin: 0 auto;
	display: flex;
}
